body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
hr {
  width: 500px;
}
#errors {
  color: red;
}
#board {
  width: 450px;
  height: 450px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.tile {
  width: 48px;
  height: 48px;
  border: 1px solid rgb(170, 168, 168);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#digits {
  width: 450px;
  height: 50px;
  background-color: grey;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.number {
  width: 44px;
  height: 44px;
  margin: 2px;
  border: 1px solid rgb(10, 10, 10);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
