/* body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
hr {
  width: 500px;
}
#errors {
  color: red;
}
#board {
  width: 450px;
  height: 450px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.tile {
  width: 48px;
  height: 48px;
  border: 1px solid rgb(170, 168, 168);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#digits {
  width: 450px;
  height: 50px;
  background-color: rgb(227, 231, 230);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.number {
  width: 44px;
  height: 44px;
  margin: 2px;
  border: 1px solid rgb(10, 10, 10);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-selected {
  background-color: rgb(134, 214, 65);
}
.tile-start {
  background-color: whitesmoke;
}
.horizontal-line {
  border-bottom: 1px solid black;
}
.vertical-line {
  border-right: 1px solid black;
} */

/* Sudoku2 */
.hidden {
  display: none;
}
body.dark {
  background-color: #222222;
  color: white;
}
header {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(165, 57, 57);
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
#setup-game {
  display: flex;
  justify-content: center;
}
#setup-game > * {
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  justify-self: center;
}

p#timer,
p#lives {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
#game {
  display: flex;
  justify-content: center;
}
#number-container > p {
  border: 1px solid black;
  border-radius: 20%;
  width: 60px;
  height: 60px;
  font-size: 40pt;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
#board {
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 60px;
  height: 600px;
}
.tile {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 0px;
  vertical-align: middle;
  font-size: 40pt;
}
p.selected {
  background-color: rgb(167, 179, 246);
}
p.incorrect {
  color: red;
}

.rightBorder {
  border-right: 4px solid black;
}
.bottomBorder {
  border-bottom: 4px solid black;
}
footer {
  background-color: lightgray;
  text-align: center;
}
